In [1]:
# 30 days of python
# Day 1
# Exercise 1
a=4
b=3
print(a+b) #addition
print(a-b) #subtraction
print(a*b) #multiplication
print(a/b) #division
print(a%b) #modulus,remainder
print(a**b) #exponent
print(a//b) #floor division, quotient

7
1
12
1.3333333333333333
1
64
1

In [2]:
# string writing
name="John"
family_name="Doe"
full_name=name+" "+family_name
country="USA"
city="New York"
age=25
what_you_enjoy="I am enjoying 30 days of python"
print(full_name)
print(country)
print(city)
print(age)
print(what_you_enjoy)

John Doe
USA
New York
25
I am enjoying 30 days of python

In [3]:
# checking data types
a=10
b=3.14
c=4-4j
print(type(a))
print(type(b))
print(type(c))
print(type(name))
print(type(country))
print(type(city))
print(type(age))
print(type(what_you_enjoy))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>

In [4]:
# Different Python data types

# Number types
integer_num = 42               # Integer
float_num = 3.14               # Float
complex_num = 2 + 3j           # Complex

# String
greeting = "Hello, Python!"

# Boolean
is_active = True

# List (ordered, mutable, allows duplicates)
fruits = ["apple", "banana", "cherry"]

# Tuple (ordered, immutable, allows duplicates)
coordinates = (10, 20)

# Set (unordered, mutable, no duplicates)
unique_numbers = {1, 2, 3, 4, 4}

# Dictionary (key-value pairs, no duplicate keys)
student = {
    "name": "Alice",
    "age": 25,
    "grade": "A"
}

# Calculate Euclidean distance between (2, 3) and (10, 8)
import math
point1 = (2, 3)
point2 = (10, 8)

distance = math.sqrt((point2[0] - point1[0]) ** 2 + (point2[1] - point1[1]) ** 2)

print(f"Euclidean distance: {distance}")

Euclidean distance: 9.433981132056603

In [5]:
# day 2
# Built in functions.
# Exercies 1
first_name = "John"
last_name = "Doe"
full_name = first_name + " " + last_name
print(full_name)
country = "USA"
city = "New York"
age = 25
year = 2021
is_married = False
is_true = True
is_light_on = True
a=b=c=2
print(a)
print(b)
print(c)

John Doe
2
2
2

In [6]:
# Day 3
# Exercise 1
age = 20
height = 67.5
y = 2+4j
base = float(input('Enter the base of triangle: '))
height = float(input('Enter the height of trinagle: '))
area_of_triangle = 0.5*base*height
print(area_of_triangle)


# Calculating the perimeter of the triangle.
a=input('Enter the side a of triangle: ')
b=input('Enter the side b of the triangle: ')
c= input('Enter the side c of the triangle: ')
perimeter=a+b+c
print(perimeter)

9.674999999999999
4.24.35.4

In [7]:
#Calculating the area of rectangle.
length = float(input('Enter the length of rectangle: '))
width = float(input('Enter the width of rectangle: '))
area_of_rectangle = length * width
print(area_of_rectangle)
perimeter=2*(length+width)
print(perimeter)

14.080000000000002
15.200000000000001

In [8]:
# Exerice 2
# Data types
print(type(first_name))
print(type(last_name))
print(type(full_name))
print(type(country))
print(type(city))
print(type(age))
print(type(year))
print(type(is_married))
print(type(is_true))
print(type(is_light_on))
print(type(a))
print(type(b))
print(type(c))

#Lenght of the string
print(len(first_name))
print(len(last_name))
print(len(full_name))
#Comparing the length of the string
print(len(first_name) > len(last_name))
print(len(first_name) < len(last_name))
print(len(first_name) == len(last_name))
print(len(first_name) >= len(last_name))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'str'>
<class 'str'>
4
3
8
True
False
False
True

In [9]:
#Numbers.
num1 = 5
num2 = 4
total = num1 + num2
diff = num1 - num2
product = num1 * num2
division = num1 / num2
remainder = num1 % num2
exp = num1 ** num2
floor_division = num1 // num2
print(total)
print(diff)
print(product)
print(division)
print(remainder)
print(exp)
print(floor_division)

9
1
20
1.25
1
625
1

In [10]:
# Day 4
# Strings.
print("I hope everyone is enjoying the python challenge.\nAre you ?")
print('Days\tTopics\tExercises')
print('Day 1\t5\t5')
print('Day 2\t6\t20')
print('Day 3\t5\t23')
print('Day 4\t1\t35')
print('This is a backslash symbol (\\)')

I hope everyone is enjoying the python challenge.
Are you ?
Days	Topics	Exercises
Day 1	5	5
Day 2	6	20
Day 3	5	23
Day 4	1	35
This is a backslash symbol (\)

In [11]:
# Formating the string.
first_name = "Emma"
last_name = "Deo"
language = "python"
formated_string = "I am %s %s. I teach %s" %(first_name, last_name, language)
print(formated_string)

I am Emma Deo. I teach python

In [12]:
#String and numbers.
radius = 10
pi = 3.14
area = pi * radius ** 2
formated_string = "The area of circle with a radius %d is %.2f." %(radius, area)
print(formated_string)

The area of circle with a radius 10 is 314.00.

In [13]:
# Exercise
challenge = "Thirty days of python"
print(challenge.split())
#or
challeng = 'Thirty, days, of, python'
print(challenge.split(', '))

['Thirty', 'days', 'of', 'python']
['Thirty days of python']

In [14]:
# using strip.
challenge = 'Thirty days of python'
print(challenge.strip("thon"))

Thirty days of py

In [15]:
# swapping.
challenge = 'Coding For All'
print(challenge.swapcase())

cODING fOR aLL

In [16]:
# Giving it title.
challenge = 'thirty days of python'
print(challenge.title())

Thirty Days Of Python

In [17]:
# Use of table escape.
print('Name\tAge\tCountry\tCity')
print('Emmanuel\t20\tUganda\tKampala')

Name	Age	Country	City
Emmanuel	20	Uganda	Kampala

In [18]:
# Line escaping
print('I am enjoying this challenge')
print()
print('I just wonder what is next')

I am enjoying this challenge

I just wonder what is next

In [19]:
# Use of join
web_tech = ['HTML', 'CSS', 'JavaScript', 'React']
result = ' '.join(web_tech)
print(result)

HTML CSS JavaScript React

In [20]:
# Day 5
# List.
vegetables = ['carrot', 'broccoli', 'spinach']  # Define the vegetables list
animal_products = ['milk', 'cheese', 'yogurt']  # Define the animal products list
web_techs = ['HTML', 'CSS', 'JavaScript', 'React']  # Define the web technologies list
countries = ['USA', 'Canada', 'Germany']  # Define the countries list
fruits = ['apple', 'banana', 'cherry']  # Define the fruits list

print('Fruits:', fruits)
print('Number of fruits:', len(fruits))
print('Vegetables:', vegetables)
print('Number of vegetables:', len(vegetables))
print('Animal products:', animal_products)
print('Number of animal products:', len(animal_products))
print('Web technologies:', web_techs)
print('Number of web technologies:', len(web_techs))
print('Countries:', countries)
print('Number of countries:', len(countries))

Fruits: ['apple', 'banana', 'cherry']
Number of fruits: 3
Vegetables: ['carrot', 'broccoli', 'spinach']
Number of vegetables: 3
Animal products: ['milk', 'cheese', 'yogurt']
Number of animal products: 3
Web technologies: ['HTML', 'CSS', 'JavaScript', 'React']
Number of web technologies: 4
Countries: ['USA', 'Canada', 'Germany']
Number of countries: 3

In [21]:
# Unpacking the list items.
lst = ['item1','item2','item3', 'item4', 'item5']
first_item, second_item, third_item, *rest = lst
print(first_item)     # item1
print(second_item)    # item2
print(third_item)     # item3
print(rest)

item1
item2
item3
['item4', 'item5']

In [24]:
# checking the item in the list.
fruits = ['banana', 'apple', 'mango', 'grape']
does_exist = 'banana' in fruits
print(does_exist)
does_exist = 'lime' in fruits
print(does_exist)

# Adding items to the list.
fruits = ['mango', 'apple', 'grape']
fruits.append('lime')
print(fruits)

True
False
['mango', 'apple', 'grape', 'lime']

In [30]:
# counting items in the list.
my_list = [23,34,45,56,56,67]
my_list.count(56)
print(my_list.count(56))
print(my_list.copy())
my_list.insert(0,70)
print(my_list)

2
[23, 34, 45, 56, 56, 67]
[70, 23, 34, 45, 56, 56, 67]

In [39]:
# Exercise.
my_list=[]
print(my_list)

list=['John', 'Job', 'Kato', 'Jude', 'James']
print(list)
print(len(list))
print(list[0])
middle_index=len(list)//2
middle_name=list[middle_index]
print(middle_name)
print(list[-1])

[]
['John', 'Job', 'Kato', 'Jude', 'James']
5
John
Kato
James

# Day 6.
# Tuple.

In [2]:
# changing tuple to list.
fruits=('banana','mango','grape')
fruits=list(fruits)
fruits[0]='apple'
fruits=tuple(fruits)
print(fruits)
fruits=list(fruits)
fruits.append('grape')
fruits=tuple(fruits)
print(fruits)

('apple', 'mango', 'grape')
('apple', 'mango', 'grape', 'grape')

In [ ]:
# Exercise 1
empty_tuple=()
print(empty_tuple)

sisters=('Esther','Mave','jane','Sarah')
print(sisters.count('Esther'))
print(len(sisters))


brothers=('Safari','Solomon','Samuel','Mark')
print(brothers)
print(len(brothers))

siblings = sisters + brothers  # Joining brothers and sisters.
print(siblings)
print(len(siblings))  # counting the siblings.

family_members=siblings+('Jeante','Nyangoma')
print(family_members)


# Unpacking family members.
siblings = family_members[:-2]
father, mother = family_members[-2:]

print('siblings:',siblings)
print('Father:',father)
print('Mother:',mother)

fruits=('mango','grape','apple')
vegetables=('cabbage','sukumawiki','Dodo')
animal_products=('milk','skin','butter')
food_stuff_tp=fruits+vegetables+animal_products   #Joining the three tuples together.
print(food_stuff_tp)

food_stuff_lt=list(food_stuff_tp)  # changing the food stuff tuple to food stuff list.
print(food_stuff_lt)

# Finding the middle item(s)
list_length = len(food_stuff_lt)
tuple_length = len(food_stuff_tp)

# If the length is odd, get one middle item
if list_length % 2 != 0:
    middle_item_lt = food_stuff_lt[list_length // 2]
    middle_item_tp = food_stuff_tp[tuple_length // 2]
else:  # If the length is even, get two middle items
    middle_item_lt = food_stuff_lt[list_length // 2 - 1:list_length // 2 + 1]
    middle_item_tp = food_stuff_tp[tuple_length // 2 - 1:tuple_length // 2 + 1]

print("Middle item(s) from list:", middle_item_lt)
print("Middle item(s) from tuple:", middle_item_tp)

first_three=food_stuff_lt[:3]
print(first_three)
last_three=food_stuff_lt[-3:]
print(last_three)

del food_stuff_tp
print(food_stuff_tp)  # This will raise an error, since there is nothing to access.

()
1
4
('Safari', 'Solomon', 'Samuel', 'Mark')
4
('Esther', 'Mave', 'jane', 'Sarah', 'Safari', 'Solomon', 'Samuel', 'Mark')
8
('Esther', 'Mave', 'jane', 'Sarah', 'Safari', 'Solomon', 'Samuel', 'Mark', 'Jeante', 'Nyangoma')
siblings: ('Esther', 'Mave', 'jane', 'Sarah', 'Safari', 'Solomon', 'Samuel', 'Mark')
Father: Jeante
Mother: Nyangoma
('mango', 'grape', 'apple', 'cabbage', 'sukumawiki', 'Dodo', 'milk', 'skin', 'butter')
['mango', 'grape', 'apple', 'cabbage', 'sukumawiki', 'Dodo', 'milk', 'skin', 'butter']
Middle item(s) from list: sukumawiki
Middle item(s) from tuple: sukumawiki
['mango', 'grape', 'apple']
['milk', 'skin', 'butter']

# Day7
Sets.

In [3]:
# Checking elements in the sets.
st={'banana','apple','lemon'}
print('Does set st conatains lemon?','lemon' in st)

print('apple' in st)

Does set st conatains lemon? True
True

In [4]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = ('tomato', 'potato', 'cabbage','onion', 'carrot')
fruits.update(vegetables)
print(fruits)

{'onion', 'carrot', 'potato', 'cabbage', 'banana', 'mango', 'orange', 'lemon', 'tomato'}

In [ ]:
# Common terms in set.
# Union, Intersection, update, checking items in the sets,
# subset, super set

python={'p','y','t','h','o','n'}
dragon={'d','r','a','g','n'}
python.issubset(dragon)
python.issuperset(dragon)

False

In [ ]:
# Execise 7
it_companies={'facebook','Google','Micrososft','Apple','IBM','Oracle','Amazon'}
A={19,22,24,20,25,26}
B={19,22,20,25,26,24,28,27}
age={22,19,24,25,26,24,25,24}

print(len(it_companies))    # Finding the length of it companies.
it_companies.add('Twitter')  # Adding items to the set.
print(it_companies)

companies_for_IT={'OpenAI','Adobe','Cisco'}
it_companies.update(companies_for_IT)  # Insertin companies once to the set it companies.
print(it_companies)

it_companies.remove('OpenAI')  # Removing one company from the set.
print(it_companies)

7
{'Oracle', 'Apple', 'facebook', 'Google', 'IBM', 'Amazon', 'Twitter', 'Micrososft'}
{'Oracle', 'facebook', 'Cisco', 'Twitter', 'Micrososft', 'OpenAI', 'Apple', 'Google', 'IBM', 'Amazon', 'Adobe'}
{'Oracle', 'facebook', 'Cisco', 'Twitter', 'Micrososft', 'Apple', 'Google', 'IBM', 'Amazon', 'Adobe'}

In [ ]:
A={19,22,24,20,25,26}
B={19,22,20,25,26,24,28,27}
age=[22,19,24,25,26,24,25,24]

print(A.union(B))   # This gives union set of the two.
print(A.intersection(B))  # This gives the intersecrtion set of the two.
print(A.issubset(B))  # Analysing the subset of the two.
print(A.isdisjoint(B)) 
print(A.union(B))
print(B.union(A))
print(A.symmetric_difference(B))
del A
print(A) # This gives error, because there is nothing in the set A.

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}

NameError: name 'A' is not defined

In [ ]:
age=[22,19,24,25,26,24,25,24]
converted_age=set(age)
print(len(age))

8

In [23]:
ages = [25, 30, 25, 40, 30, 35, 40, 50]  # List with duplicates

ages_set = set(ages)  # Convert list to a set

print("Length of list:", len(ages))  # 8
print("Length of set:", len(ages_set))  # 5

# Comparison
if len(ages) > len(ages_set):
    print("The list is longer than the set.")
elif len(ages) < len(ages_set):
    print("The set is longer than the list.")
else:
    print("Both have the same length.")

Length of list: 8
Length of set: 5
The list is longer than the set.

# Day 8.
Dictionary.

In [ ]:
# Creation of empty dictionary.
dog={}
print(dog)

# Adding items to the empty dictionary.
dog['Name']='Tom',
dog['color']='Black',
dog['Breed']='Exotic',
dog['Legs']='Short',
dog['Age']=10
print(dog)

# Student dictionary.
student={
  'first_name':'Emmanuel',
  'last_name':'Matson',
  'age':20,
  'gender':'male',
  'marital_status':'single',
  'skills':{
    'web_tech': ['javascripts'],
    'graphic_design': 'Photoshop',
    'e_commerce':'digital_marketer'
  },
  'address':{
    'country':'Kenya',
    'City':'Nairobi'
  }
}
print(student)
print(len(student))
print('skills' in student)
print(type(student['skills']))
student['skills']['web_tech'].append('HTML')  # Adding skills to the skills field.
print(student)
student['skills']['web_tech'].append('css')
print(student)

keys_list=list(student.keys())   # Getting student keys as list.
print(keys_list)

keys_values=list(student.values())  # Getting student values as list.
print(keys_values)

dict_as_list_of_tuple=list(student.items())   # Converting dictionary to the list of tuple using .items() method.
print(dict_as_list_of_tuple)

del student['skills']   # Deleting on eof the items of the dictionary using delete method.
print(student)

print(student.pop('address'))   # Something to consult...######

{}
{'Name': ('Tom',), 'color': ('Black',), 'Breed': ('Exotic',), 'Legs': ('Short',), 'Age': 10}
{'first_name': 'Emmanuel', 'last_name': 'Matson', 'age': 20, 'gender': 'male', 'marital_status': 'single', 'skills': {'web_tech': ['javascripts'], 'graphic_design': 'Photoshop', 'e_commerce': 'digital_marketer'}, 'address': {'country': 'Kenya', 'City': 'Nairobi'}}
7
True
<class 'dict'>
{'first_name': 'Emmanuel', 'last_name': 'Matson', 'age': 20, 'gender': 'male', 'marital_status': 'single', 'skills': {'web_tech': ['javascripts', 'HTML'], 'graphic_design': 'Photoshop', 'e_commerce': 'digital_marketer'}, 'address': {'country': 'Kenya', 'City': 'Nairobi'}}
{'first_name': 'Emmanuel', 'last_name': 'Matson', 'age': 20, 'gender': 'male', 'marital_status': 'single', 'skills': {'web_tech': ['javascripts', 'HTML', 'css'], 'graphic_design': 'Photoshop', 'e_commerce': 'digital_marketer'}, 'address': {'country': 'Kenya', 'City': 'Nairobi'}}
['first_name', 'last_name', 'age', 'gender', 'marital_status', 'skills', 'address']
['Emmanuel', 'Matson', 20, 'male', 'single', {'web_tech': ['javascripts', 'HTML', 'css'], 'graphic_design': 'Photoshop', 'e_commerce': 'digital_marketer'}, {'country': 'Kenya', 'City': 'Nairobi'}]
[('first_name', 'Emmanuel'), ('last_name', 'Matson'), ('age', 20), ('gender', 'male'), ('marital_status', 'single'), ('skills', {'web_tech': ['javascripts', 'HTML', 'css'], 'graphic_design': 'Photoshop', 'e_commerce': 'digital_marketer'}), ('address', {'country': 'Kenya', 'City': 'Nairobi'})]
{'first_name': 'Emmanuel', 'last_name': 'Matson', 'age': 20, 'gender': 'male', 'marital_status': 'single', 'address': {'country': 'Kenya', 'City': 'Nairobi'}}
{'country': 'Kenya', 'City': 'Nairobi'}

In [17]:
dict_list = [{'a': 1}, {'b': 2}, {'c': 3}]

# Delete the second dictionary (index 1)
del dict_list[1]

print(dict_list)  # Output: [{'a': 1}, {'c': 3}]

[{'a': 1}, {'c': 3}]

# day 9
Condionals.

In [ ]:
a=3
if a>0:
  print('A is a posiive number')
else:
  print('A is a negative number')  # This is for only two conditions.

A is a posiive number

In [3]:
# For multiple conditions.
a=0
if a>0:
  print('A is apositive number')
elif a<0:
  print('A us a negative number')
else:
  print('A is zero')

  # Short hand.
  a=3
  print('A is a positive number') if a>0 else print('A is negative number')

A is zero
A is a positive number

In [ ]:
a = 0
if a > 0 and a % 2 == 0:
        print('A is an even and positive integer')    # using if and AND logical operator.
elif a > 0 and a % 2 !=  0:
     print('A is a positive integer')
elif a == 0:
    print('A is zero')
else:
    print('A is negative')

A is zero

In [1]:
user = 'admin'  
access_level = 4
if user == 'admin' or access_level >= 4:   # using if and Or logical operator.
        print('Access granted!')
else:
    print('Access denied!')

Access granted!

In [7]:
# Exercise.
age = int(input('Enter your age: '))
if age >= 18:
	print("You are old enough to drive.")
else:
	print("Wait for the missing amount of years.")

Wait for the missing amount of years.

In [2]:
my_age = 25  # Replace with my actual age if needed
your_age = int(input("Enter your age: "))

if your_age > my_age:
    difference = your_age - my_age
    if difference == 1:
        print(f"You are {difference} year older than me.")
    else:
        print(f"You are {difference} years older than me.")
elif your_age < my_age:
    difference = my_age - your_age
    if difference == 1:
        print(f"I am {difference} year older than you.")
    else:
        print(f"I am {difference} years older than you.")
else:
    print("We are the same age!")

You are 5 years older than me.

In [4]:
a=float(input('Enter the number of a'))
b=float(input('Enter the number of b'))
if a>b:
  print('a is greater than b')
elif b>a:
  print('b is greater than a')
else:
  print('a is equal to b')

a is equal to b

In [5]:
score = float(input("Enter the student's score: "))

if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"

print(f"The student's grade is: {grade}")

The student's grade is: A

In [6]:
month = input("Enter a month: ").strip().capitalize()

if month in ["September", "October", "November"]:
    season = "Autumn"
elif month in ["December", "January", "February"]:
    season = "Winter"
elif month in ["March", "April", "May"]:
    season = "Spring"
elif month in ["June", "July", "August"]:
    season = "Summer"
else:
    season = "Invalid month entered."

print(f"The season is: {season}")

The season is: Winter

In [7]:
fruits = ['banana', 'orange', 'mango', 'lemon']

new_fruit = input("Enter a fruit: ").strip().lower()

if new_fruit in fruits:
    print("That fruit already exists in the list.")
else:
    fruits.append(new_fruit)
    print("Fruit added! Updated list:", fruits)

Fruit added! Updated list: ['banana', 'orange', 'mango', 'lemon', 'apple']

# Day 10
Loops

In [ ]:
count = 0
while count < 5:
    if count == 3:
        count = count + 1
        continue
    print(count)      # This skips 3 after printing.
    count = count + 1

0
1
2
4

In [2]:
numbers = [0, 1, 2, 3, 4, 5]
for number in numbers: # number is temporary name to refer to the list's items, valid only inside this loop
    print(number)       # the numbers will be printed line by line, from 0 to 5

0
1
2
3
4
5

In [3]:
language = 'Python'
for letter in language:
    print(letter)


for i in range(len(language)):
    print(language[i])

P
y
t
h
o
n
P
y
t
h
o
n

In [4]:
numbers = (0, 1, 2, 3, 4, 5)
for number in numbers:
    print(number)

0
1
2
3
4
5

In [5]:
person = {
    'first_name':'Asabeneh',
    'last_name':'Yetayeh',
    'age':250,
    'country':'Finland',
    'is_marred':True,
    'skills':['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address':{
        'street':'Space street',
        'zipcode':'02210'
    }
}
for key in person:
    print(key)

for key, value in person.items():
    print(key, value) # this way we get both keys and values printed out

first_name
last_name
age
country
is_marred
skills
address
first_name Asabeneh
last_name Yetayeh
age 250
country Finland
is_marred True
skills ['JavaScript', 'React', 'Node', 'MongoDB', 'Python']
address {'street': 'Space street', 'zipcode': '02210'}

In [7]:
# syntax
y = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  # Example nested list
for x in y:
    for t in x:
        print(t)

1
2
3
4
5
6
7
8
9

In [9]:
# Exercise 10
numbers=[0,1,2,3,4,5,6,7,8,9,10]
for number in numbers:
  print(number)

count=0
while count < 10:
 print(count)
 count+=1
else:
  print(count)

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10

In [10]:
i = 10
while i >= 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1
0

In [11]:
for i in range(1, 8):  # Loop from 1 to 7
    print("#" * i)  # Print '#' repeated 'i' times

#
##
###
####
#####
######
#######

In [12]:
i = 1
while i <= 7:
    print("#" * i)  # Print '#' repeated 'i' times
    i += 1  # Increment i

#
##
###
####
#####
######
#######

In [2]:
rows=8
cols=8
  
for i in range(rows):   # Outer loop for the rows
    for j in range(cols):   # Inner loop for columns.
        print('#', end=' ')
    print() # move to the next line after each row.

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [ ]:
rows=11  # Number of rows.

for i in range(rows):  # loop from 0 to 10
    print(f'{i}x {i} = {i*i}')

0x 0 = 0
1x 1 = 1
2x 2 = 4
3x 3 = 9
4x 4 = 16
5x 5 = 25
6x 6 = 36
7x 7 = 49
8x 8 = 64
9x 9 = 81
10x 10 = 100

In [3]:


even_sum=0
odd_sum=0

for i in range(101):
  if i%2==0:
    even_sum+=i
  else:
    odd_sum+=i

print('Summ of even numbers:', even_sum)
print('Sum of odd numbers:', odd_sum)

Summ of even numbers: 2550
Sum of odd numbers: 2500

In [5]:
# Mock countries list for testing
countries = [
	"Finland", "Switzerland", "Thailand", "Iceland", "Ireland", 
	"Poland", "Netherlands", "New Zealand", "Greenland"
]

land_countries = [country for country in countries if 'land' in country.lower()]
print('countries containing "land":', land_countries)

countries containing "land": ['Finland', 'Switzerland', 'Thailand', 'Iceland', 'Ireland', 'Poland', 'Netherlands', 'New Zealand', 'Greenland']

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']   # looping though the list.

for i in range(len(fruits)):  # i takes values 0, 1, 2, 3
    print(f"Index {i}: {fruits[i]}")

Index 0: banana
Index 1: orange
Index 2: mango
Index 3: lemon

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']  # In reserving order.
reversed_fruits = []

# Loop through the list in reverse order
for i in range(len(fruits) - 1, -1, -1):
    reversed_fruits.append(fruits[i])

print("Reversed list:", reversed_fruits)

Reversed list: ['lemon', 'mango', 'orange', 'banana']

Day 11.
Functions.

In [ ]:
# Function is a  reusable block of code or programming statements designed to perform a certain task.

# Python provides the  def keyword.
# The function block is executed only if the finction is called  or involked.

# syntax 
# Declaring  function

def function_name():
  Code
  Code
# calling a function 

function_name()

In [10]:
# Examples 
def generate_full_name():
  first_name='Emma'
  last_name='Mat'
  space=' '
  full_name=first_name + space +last_name
  print(full_name)
  generate_full_name()   # Involking the function

In [12]:
def add_two_numbers():
  num_one=2
  num_two=5
  total=num_one+num_two
  return total
  print(add_two_numbers())

In [13]:
# Function with parameters 
def greeting(name):
  message=name + ',Welcome to Python everyone!'
  return message
print(greeting('Emma'))

Emma,Welcome to Python everyone!

In [14]:
def square_num(x):
  return x*x
print(square_num(2))

4

In [15]:
def find_even_numbers(n):
    evens = []
    for i in range(n + 1):
        if i % 2 == 0:
            evens.append(i)
    return evens
print(find_even_numbers(10))

[0, 2, 4, 6, 8, 10]

In [16]:
# Exercise

def add_two_numbers(a,b):
  return a + b
print(add_two_numbers(6,8))

14

In [17]:
import math

def area_of_circle(r):
  return math.pi * r * r
print(area_of_circle(3))

28.274333882308138

In [18]:
def add_all_nums(*args):
    # Check if all arguments are numbers
    if all(isinstance(i, (int, float)) for i in args):
        return sum(args)  # Sum up all numbers
    else:
        return "Error: All inputs must be numbers!"

# Example usage
print(add_all_nums(5, 10, 15))        # Output: 30
print(add_all_nums(3, 7.5, 2, -1))    # Output: 11.5
print(add_all_nums(4, 'hello', 6))    # Output: Error: All inputs must be numbers!

30
11.5
Error: All inputs must be numbers!

In [1]:
def generate_full_name (first_name = 'Asabeneh', last_name = 'Yetayeh'):
    space = ' '
    full_name = first_name + space + last_name
    return full_name

print(generate_full_name())
print(generate_full_name('David','Smith'))

Asabeneh Yetayeh
David Smith

In [2]:
def greetings (name = 'Peter'):
    message = name + ', welcome to Python for Everyone!'
    return message
print(greetings())
print(greetings('Asabeneh'))

Peter, welcome to Python for Everyone!
Asabeneh, welcome to Python for Everyone!

In [3]:
def convert_celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

# Example usage:
temperature_celsius = 25
temperature_fahrenheit = convert_celsius_to_fahrenheit(temperature_celsius)
print(f"{temperature_celsius}°C is equal to {temperature_fahrenheit}°F")

25°C is equal to 77.0°F

In [1]:
def check_season(month):
    month = month.lower()  # Convert to lowercase for case insensitivity

    if month in ["december", "january", "february"]:
        return "Winter"
    elif month in ["march", "april", "may"]:
        return "Spring"
    elif month in ["june", "july", "august"]:
        return "Summer"
    elif month in ["september", "october", "november"]:
        return "Autumn"
    else:
        return "Invalid month"

# Example usage:
month_name = "March"
season = check_season(month_name)
print(f"{month_name} is in {season}.")

March is in Spring.

In [2]:
def calculate_slope(x1, y1, x2, y2):
  if x1==x2:
    return 'Undefined(Vertical line)'
  return (y2-y1)/(x2-x1)
slope=calculate_slope(1,2,3,4)
print(f'The slope of the line is: {slope}')

The slope of the line is: 1.0

In [3]:
import math

def solve_quadratic_eqn(a, b, c):
    if a == 0:
        return "Not a quadratic equation (a cannot be 0)."

    # Calculate the discriminant
    discriminant = b**2 - 4*a*c

    if discriminant > 0:
        root1 = (-b + math.sqrt(discriminant)) / (2 * a)
        root2 = (-b - math.sqrt(discriminant)) / (2 * a)
        return (root1, root2)  # Two real solutions
    elif discriminant == 0:
        root = -b / (2 * a)
        return (root,)  # One real solution (tuple with one element)
    else:
        real_part = -b / (2 * a)
        imaginary_part = math.sqrt(abs(discriminant)) / (2 * a)
        return (complex(real_part, imaginary_part), complex(real_part, -imaginary_part))  # Two complex solutions

# Example usage:
solutions = solve_quadratic_eqn(1, -3, 2)
print(f"Solutions: {solutions}")

Solutions: (2.0, 1.0)

In [4]:
def print_list(lst):
    for item in lst:
        print(item)

# Example usage:
sample_list = [1, 2, 3, "hello", True]
print_list(sample_list)

1
2
3
hello
True

In [6]:
def reversed_list(arr):
  reversed_arr=[]
  for ir in range(len(arr) -1,-1,-1):
    reversed_arr.append(arr[ir])
  return reversed_arr

# Example usage:
arr = [1, 2, 3, 4, 5]
reversed_arr = reversed_list(arr)
print(reversed_arr)

[5, 4, 3, 2, 1]

In [7]:
def capitalize_list_items(lst):
    return [item.capitalize() if isinstance(item, str) else item for item in lst]

# Example usage:
sample_list = ["apple", "banana", "cherry"]
print(capitalize_list_items(sample_list))

['Apple', 'Banana', 'Cherry']

In [8]:
def add_item(lst, item):
    lst.append(item)
    return lst

# Example usage:
sample_list = [1, 2, 3]
new_list = add_item(sample_list, 4)
print(new_list)

[1, 2, 3, 4]

In [ ]:
def remove_item(lst, item):
    if item in lst:
        lst.remove(item)  # Remove only the first occurrence
    return lst

# Example usage:
sample_list = [1, 2, 3, 4, 3]
new_list = remove_item(sample_list, 3) # Remove the first occurrence of 3
print(new_list)

[1, 2, 4, 3]

In [10]:
def sum_of_numbers(n):
    return sum(range(1,n + 1))
print(sum_of_numbers(10))

55

In [14]:
def odd_numbers(n):
  return sum(i for i in range(1,n+1) if i%2!=0)  # List comprehension
print(odd_numbers(5))

def even_numbers(n):
  return sum(i for i in range(1,n+1) if i%2==0)
print(even_numbers(5))

9
6

In [20]:
def even_and_odd_numbers(n):
  even=sum(i for i in range(n+1) if i%2==0)
  odd=sum(i for i in range(n+1) if i%2!=0)

  print(f'Even numbers: {even}')
  print(f'Odd numbers: {odd}')
  
  print(even_and_odd_numbers(100))

In [21]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers."
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

# Example usage:
print(factorial(5))

120

In [22]:
def is_empty(value):
    return not bool(value)  # Returns True if empty, False otherwise

# Example usage:
print(is_empty([]))       # Output: True (empty list)
print(is_empty(""))       # Output: True (empty string)
print(is_empty(None))     # Output: True (None is considered empty)
print(is_empty(0))        # Output: True (0 is considered empty in Python)
print(is_empty("Hello"))  # Output: False (not empty)
print(is_empty([1, 2]))   # Output: False (list is not empty)

True
True
True
True
False
False

In [23]:
import statistics

def calculate_mean(lst):
    return sum(lst) / len(lst) if lst else None  # Prevent division by zero

def calculate_median(lst):
    return statistics.median(lst) if lst else None  # Uses built-in median function

def calculate_mode(lst):
    try:
        return statistics.mode(lst) if lst else None  # Uses built-in mode function
    except statistics.StatisticsError:
        return "No unique mode"  # Handles multiple modes

def calculate_range(lst):
    return max(lst) - min(lst) if lst else None  # Difference between max and min

def calculate_variance(lst):
    return statistics.variance(lst) if len(lst) > 1 else None  # Uses built-in variance function

def calculate_std(lst):
    return statistics.stdev(lst) if len(lst) > 1 else None  # Uses built-in standard deviation function

# Example usage:
numbers = [4, 7, 2, 9, 7, 4, 7, 2]

print("Mean:", calculate_mean(numbers))
print("Median:", calculate_median(numbers))
print("Mode:", calculate_mode(numbers))
print("Range:", calculate_range(numbers))
print("Variance:", calculate_variance(numbers))
print("Standard Deviation:", calculate_std(numbers))

Mean: 5.25
Median: 5.5
Mode: 7
Range: 7
Variance: 6.785714285714286
Standard Deviation: 2.6049403612586386

In [ ]:
def is_prime(n):
    if n < 2:
        return False  # 0 and 1 are not prime numbers

    for i in range(2, int(n ** 0.5) + 1):  # Check divisibility up to sqrt(n)
        if n % i == 0:
            return False  # Found a divisor, so it's not prime

    return True  # No divisors found, it's prime

# Example usage:
print(is_prime(2))   
print(is_prime(11))  
print(is_prime(15))  
print(is_prime(1))

True
True
False
False

In [ ]:
def are_items_unique(lst):
    return len(lst) == len(set(lst))  # Convert list to set and compare lengths, this is because set does not allow duplicates.

# Example usage:
print(are_items_unique([1, 2, 3, 4]))      
print(are_items_unique([1, 2, 3, 3, 4]))   # 3 appears twice.
print(are_items_unique(["a", "b", "c"]))  
print(are_items_unique(["apple", "banana", "apple"]))

True
False
True
False

In [ ]:
def are_items_same_type(lst):
    if not lst:
        return True  # An empty list has no conflicting types
    
    first_type = type(lst[0])  # Get the type of the first element
    return all(isinstance(item, first_type) for item in lst)  # Check all items

# Example usage:
print(are_items_same_type([1, 2, 3, 4]))        
print(are_items_same_type(["a", "b", "c"]))     
print(are_items_same_type([1, "b", 3.0]))       # mixed types
print(are_items_same_type([]))                  # empty list

True
True
False
True

In [27]:
import keyword

def is_valid_variable(var_name):
    return var_name.isidentifier() and not keyword.iskeyword(var_name)

# Example usage:
print(is_valid_variable("my_var"))      # Output: True (valid)
print(is_valid_variable("2variable"))   # Output: False (cannot start with a number)
print(is_valid_variable("if"))          # Output: False (reserved keyword)
print(is_valid_variable("_hidden"))     # Output: True (valid, even though it's conventionally private)
print(is_valid_variable("var-name"))    # Output: False (hyphens are not allowed)

True
False
False
True
False

In [1]:
import random
import string

def generate_random_user_id():
    return ''.join(random.choices(string.ascii_letters + string.digits, k=6))

# Example usage
print(generate_random_user_id())

qb3ETz

In [4]:
# Modifyied version of the function

import random
import string

def user_id_gen_by_user():
    num_chars = int(input("Enter the number of characters per ID: "))
    num_ids = int(input("Enter the number of IDs to generate: "))

    user_ids = [''.join(random.choices(string.ascii_letters + string.digits, k=num_chars)) for _ in range(num_ids)]
    
    for user_id in user_ids:
        print(user_id)
user_id_gen_by_user()

LdHOCN
5II1sM
zHHcDl
L4RTvH

In [9]:
import random

def rgb_color_gen():
    r = random.randint(0, 255)  # Generate a random value for red (0-255)
    g = random.randint(0, 255)  # Generate a random value for green (0-255)
    b = random.randint(0, 255)  # Generate a random value for blue (0-255)
    return f"rgb({r}, {g}, {b})"

# Example usage
print(rgb_color_gen())

rgb(199, 228, 67)

In [18]:
import random

def list_of_hexa_colors(num_colors):
    hex_colors = ['#' + ''.join(random.choices('0123456789abcdef', k=6)) for _ in range(num_colors)]
    return hex_colors

# Example usage
print(list_of_hexa_colors(5))  # Generates 5 random hex colors

['#05b784', '#2e514a', '#96aef0', '#939f7a', '#46ab63']

In [15]:
import random

def list_of_rgb_colors(num_colors):
    rgb_colors = [f"rgb({random.randint(0, 255)}, {random.randint(0, 255)}, {random.randint(0, 255)})" for _ in range(num_colors)]
    return rgb_colors

# Example usage
print(list_of_rgb_colors(5))  # Generates 5 random RGB colors

['rgb(216, 58, 204)', 'rgb(51, 59, 225)', 'rgb(47, 71, 160)', 'rgb(186, 203, 227)', 'rgb(251, 28, 76)']

Day 13.

Lists Comprehesion.

In [ ]:
language='Python'
lst=list(language)  # Converting string to list
print(type(lst))
print(lst)

lst=[i for i in language]   # List comprehension
print(lst)

<class 'list'>
['P', 'y', 't', 'h', 'o', 'n']
['P', 'y', 't', 'h', 'o', 'n']

In [4]:
numbers=[i for i in range(11)]  # List comprehension
print(numbers)

squares=[i*i for i in range(11)]  # List comprehension
print(squares)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
# Using list comprehesion together using if statement.
even_numbers=[i for i in range(21) if i%2==0]
print(even_numbers)

odd_numbers=[i for i in range(21) if i%2!=0]
print(odd_numbers)

positve_numbers=[i for i in range(21) if i>0]
print(positve_numbers)

negative_numbers=[i for i in range(-21,1) if i<0]
print(negative_numbers)

# Using list comprehension with if else statement.
numbers=[i if i%2==0 else 'odd' for i in range(11)]
print(numbers)

# Using list comprehension with nested if statement.
numbers=[i for i in range(21) if i%2==0 if i%5==0]
print(numbers)

# Flattened list using list comprehension.
nested_list=[[1,2,3],[4,5,6],[7,8,9]]
flattened_list=[i for row in nested_list for i in row]
print(flattened_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[-21, -20, -19, -18, -17, -16, -15, -14, -13, -12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1]
[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]
[0, 10, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# lambda function
# lambda function is an anonymous function.

add_two_nums=lambda a,b:a+b
print(add_two_nums(3,5))

# lambda function with multiple arguments.
multiply=lambda a,b,c:a*b*c
print(multiply(2,3,4))

# lambda function with no arguments.
create_greeting=lambda:'Welcome to Python'
print(create_greeting())

square=lambda x:x*x
print(square(3))

# lambda function with if else statement.
check_even=lambda a:True if a%2==0 else False
print(check_even(4))

8
24
Welcome to Python
9
True

In [18]:
# Exercise.
numbers=[-4,-3,-2,-1,0,2,4,6]
negative_nums=[i for i in numbers if i<=0]
print(negative_nums)

[-4, -3, -2, -1, 0]

In [ ]:
list_of_lists=[[1,2,3],[4,5,6],[7,8,9]]    # Flattening the list of lists.
flattened_list=[i for row in list_of_lists for i in row]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
tuple = [(i, 1, i**1, i**2, i**3, i**4, i**5) for i in range(11)]   # Creating a tuple.
print(tuple)

[(0, 1, 0, 0, 0, 0, 0), (1, 1, 1, 1, 1, 1, 1), (2, 1, 2, 4, 8, 16, 32), (3, 1, 3, 9, 27, 81, 243), (4, 1, 4, 16, 64, 256, 1024), (5, 1, 5, 25, 125, 625, 3125), (6, 1, 6, 36, 216, 1296, 7776), (7, 1, 7, 49, 343, 2401, 16807), (8, 1, 8, 64, 512, 4096, 32768), (9, 1, 9, 81, 729, 6561, 59049), (10, 1, 10, 100, 1000, 10000, 100000)]

In [ ]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]  # Flattening the list of lists.

flattened_list = [i for row in countries for i in row]
print(flattened_list)

[('Finland', 'Helsinki'), ('Sweden', 'Stockholm'), ('Norway', 'Oslo')]

In [26]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]

my_dict = [{'country': country.upper(), 'city': city.upper()} for [(country, city)] in countries]

print(my_dict)

[{'country': 'FINLAND', 'city': 'HELSINKI'}, {'country': 'SWEDEN', 'city': 'STOCKHOLM'}, {'country': 'NORWAY', 'city': 'OSLO'}]

In [27]:
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]

result = [' '.join(name) for [(name)] in names]

print(result)

['Asabeneh Yetayeh', 'David Smith', 'Donald Trump', 'Bill Gates']

In [28]:
slope = lambda x1, y1, x2, y2: (y2 - y1) / (x2 - x1) if x2 != x1 else None
print(slope(2, 3, 5, 7))

1.3333333333333333

In [29]:
y_intercept = lambda x, y, m: y - m * x
m = slope(2, 3, 5, 7)  # Calculate slope first
print(y_intercept(2, 3, m))

0.3333333333333335