7
1
12
1.3333333333333333
1
64
1

John Doe
USA
New York
25
I am enjoying 30 days of python

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'str'>

Euclidean distance: 9.433981132056603

John Doe
2
2
2

8.8
246

15.75

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'bool'>
<class 'int'>
<class 'int'>
<class 'int'>
4
3
8
True
False
False
True

9
1
20
1.25
1
625
1

I hope everyone is enjoying the python challenge.
Are you ?
Days	Topics	Exercises
Day 1	5	5
Day 2	6	20
Day 3	5	23
Day 4	1	35
This is a backslash symbol (\)

I am Emma Deo. I teach python

The area of circle with a radius 10 is 314.00.

['Thirty', 'days', 'of', 'python']
['Thirty days of python']

Thirty days of py

cODING fOR aLL

Thirty Days Of Python

Name	Age	Country	City
Emmanuel	20	Uganda	Kampala

I am enjoying this challenge

I just wonder what is next

HTML CSS JavaScript React

In [9]:
import math

# radius of a circle and its area
radius = 10
area_of_circle = float(math.pi * radius ** 2)
circum_of_circle = 2 * math.pi * radius
print(area_of_circle)
print(circum_of_circle)

314.1592653589793
62.83185307179586

In [10]:
# User input
radius = float(input("Enter the radius of the circle: "))
area_of_circle = math.pi * radius ** 2
print(area_of_circle)

88.24733763933729

In [11]:
#User input
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
country = input("Enter your country: ")
age = input("Enter your age: ")
print(first_name)
print(last_name)
print(country)
print(age)

John
Deo
USA
20

Fruits: ['apple', 'banana', 'cherry']
Number of fruits: 3
Vegetables: ['carrot', 'broccoli', 'spinach']
Number of vegetables: 3
Animal products: ['milk', 'cheese', 'yogurt']
Number of animal products: 3
Web technologies: ['HTML', 'CSS', 'JavaScript', 'React']
Number of web technologies: 4
Countries: ['USA', 'Canada', 'Germany']
Number of countries: 3

item1
item2
item3
['item4', 'item5']

In [ ]:
# A simple Expense tracker

In [3]:
# Import the libraries.


import numpy as np
import pandas as pd
from datetime import datetime

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.3-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
    --------------------------------------- 0.3/11.5 MB ? eta -:--:--
   --- ------------------------------------ 1.0/11.5 MB 2.3 MB/s eta 0:00:05
   ---------- ----------------------------- 2.9/11.5 MB 4.5 MB/s eta 0:00:02
   ------------------- -------------------- 5.5/11.5 MB 6.6 MB/s eta 0:00:01
   --------------------- ------------------ 6.3/11.5 MB 7.2 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.5 MB 8.6 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 8.3 MB/s eta 0:00:00
Downloading numpy-2.2.3-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ------- -------------------------------- 2.4/12.6 MB 25.0 MB/s eta 0:00:01
   ------------------- -------------------- 6.0/12.6 MB 16.4 MB/s eta 0:00:01
   ------------------------------------ --- 11.5/12.6 MB 18.9 MB/s eta 0:00:01
   ---------------------------------------- 12.6/12.6 MB 18.4 MB/s eta 0:00:00
Downloading pytz-2025.1-py2.py3-none-any.whl (507 kB)
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.3 pandas-2.2.3 pytz-2025.1 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
# Create Empty lists.
Goods_OR_SERVICES = []
Amount = []
Dates = []
EXPENSE_TYPE = []

In [4]:
# Create a function to add the expenses to the lists and organize the data.
def add_expense(good_or_service, amount, expense_type):
    Amount.append(amount)
    Goods_OR_SERVICES.append(good_or_service)
    Dates.append(datetime.now())
    EXPENSE_TYPE.append(expense_type)

In [7]:
# main program
option = -1 # This will be the users option or choice.
while (option != 0):
    # create a menu for the user.
    print('Welcome to the simple expense tracker')
    print("1. Add food expense")
    print("2. Add household expenses")
    print("3. Add transportation expenses")
    print("4. Add entertainment expenses")
    print("5. Add education expenses")
    print("6. Add health expenses")
    print("7. Add personal expenses")
    print('0. Exit')
    option = int(input('choose an option:\n'))

    # print a new line
    print()
    # check for the users choice or option .
    if option == 0:
        print('Exiting the program')
        break
    elif option == 1:
        print('Adding food')
        EXPENSE_TYPE = 'Food'
    elif option == 2:
        print('Adding household expenses')
        EXPENSE_TYPE = 'Household'
    elif option == 3:
        print('Adding transportation expenses')
        EXPENSE_TYPE = 'Transportation'
    elif option == 4:
        print('Adding entertainment expenses')
        EXPENSE_TYPE = 'Entertainment'
    elif option == 5:
        print('Adding education expenses')
        EXPENSE_TYPE = 'Education'
    elif option == 6:
        print('Adding health expenses')
        EXPENSE_TYPE = 'Health'
    elif option == 7:
        print('Adding personal expenses')
        EXPENSE_TYPE = 'Personal'

        # Ceate a data frame and add the expenses.
        expense_report = pd.DataFrame()
        expense_report['Goods_OR_SERVICES'] = Goods_OR_SERVICES
        expense_report['Amount'] = Amount
        expense_report['Dates'] = Dates
        expense_report['EXPENSE_TYPE'] = EXPENSE_TYPE

        # Save the data frame to a csv file.
        expense_report.to_csv('expense_report.csv')
        # show the user that the expenses have been saved.
        print(expense_report)
    else:
        print('You chose an incorrect option. Please choose 0, 1, 2, 3, 4, 5, 6, or 7')

        # Allow the user to enter the good or servise and the amount.
        if option == 1 or option == 2 or option == 3 or option == 4 or option == 5 or option == 6 or option == 7:
            Goods_OR_SERVICES == input('Enter the good or service for the expense type '+expense_type+':\n')
            amount = float(input('Enter the amount of the good or service:\n'))
            today = date.today()
            add_expense(good_or_service, amount,today,expense_type)
            # print a new line
            print()

Welcome to the simple expense tracker
1. Add food expense
2. Add household expenses
3. Add transportation expenses
4. Add entertainment expenses
5. Add education expenses
6. Add health expenses
7. Add personal expenses
0. Exit

Exiting the program

In [ ]:
import sqlite3
from datetime import datetime

#create or connect to the expense tracker database
conn = sqlite3.connect('myexpense_tracker.db')
c = conn.cursor()

#Create the expenses table if it doesn't exist
c.execute('''
    CREATE TABLE IF NOT EXISTS expenses(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
          amount REAL,
          category TEXT,
          description TEXT,
          date DATE 
    )
''')

conn.commit()

def add_expense(amount, category, description):
    #Get the current date
    date = datetime.now().strftime('%Y-%m-%d')

    #Insert the expense into the database
    c.execute('INSERT INTO expenses(amount, category, description, date) VALUES (?, ?, ?, ?)',
              (amount, category, description, date))
    conn.commit()
    print("Expense added successfully!")

def view_expenses():
    #Fetch all the expenses from the database
    c.execute('SELECT * FROM expenses ORDER BY date')
    expenses = c.fetchall()

    #Display the expenses
    if expenses:
        print("ID  | Amount  | Category  | Description                 | Date")
        print("---------------------------------------------------------")
        for expense in expenses:
            print(
                f"{expense[0]:<3} | ${expense[1]:<7.2f} | {expense[2]:<15} | {expense[3]:<27} | {expense[4]}"
            )
    else:
        print("No expense found")

def main():
    while True:
        print("\nExpense Tracker Application")
        print("1. Add Expense")
        print("2. View Expense")
        print("3. Exit")

        choice = input("Enter your choice (1/2/3): ")

        if choice == '1':
            amount = float(input("Enter the amount spent: $"))
            category = input("Enter the category: ")
            description = input("Enter a brief description: ")
            add_expense(amount, category, description)

        elif choice == '2':
            view_expenses()

        elif choice == '3':
            print("Exiting the Expense Tracker Application.")
            break
        else:
            print("Invalid choice. Please try again.")

if __name__ == "__main__":
    main()

#Close the database connection when the application exists
conn.close()
from datetime import datetime

#create or connect to the expense tracker database
conn = sqlite3.connect('myexpense_tracker.db')
c = conn.cursor()

#Create the expenses table if it doesn't exist
c.execute('''
    CREATE TABLE IF NOT EXISTS expenses(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
          amount REAL,
          category TEXT,
          description TEXT,
          date DATE 
    )
''')

conn.commit()

def add_expense(amount, category, description):
    #Get the current date
    date = datetime.now().strftime('%Y-%m-%d')

    #Insert the expense into the database
    c.execute('INSERT INTO expenses(amount, category, description, date) VALUES (?, ?, ?, ?)',
              (amount, category, description, date))
    conn.commit()
    print("Expense added successfully!")

def view_expenses():
    #Fetch all the expenses from the database
    c.execute('SELECT * FROM expenses ORDER BY date')
    expenses = c.fetchall()

    #Display the expenses
    if expenses:
        print("ID  | Amount  | Category  | Description                 | Date")
        print("---------------------------------------------------------")
        for expense in expenses:
            print(
                f"{expense[0]:<3} | ${expense[1]:<7.2f} | {expense[2]:<15} | {expense[3]:<27} | {expense[4]}"
            )
    else:
        print("No expense found")

def main():
    while True:
        print("\nExpense Tracker Application")
        print("1. Add Expense")
        print("2. View Expense")
        print("3. Exit")

        choice = input("Enter your choice (1/2/3): ")

        if choice == '1':
            amount = float(input("Enter the amount spent: $"))
            category = input("Enter the category: ")
            description = input("Enter a brief description: ")
            add_expense(amount, category, description)

        elif choice == '2':
            view_expenses()

        elif choice == '3':
            print("Exiting the Expense Tracker Application.")
            break
        else:
            print("Invalid choice. Please try again.")

if __name__ == "__main__":
    main()

#Close the database connection when the application exists
conn.close()
2

Expense Tracker Application
1. Add Expense
2. View Expense
3. Exit
No expense found

Expense Tracker Application
1. Add Expense
2. View Expense
3. Exit
Expense added successfully!

Expense Tracker Application
1. Add Expense
2. View Expense
3. Exit
Exiting the Expense Tracker Application.

Expense Tracker Application
1. Add Expense
2. View Expense
3. Exit
ID  | Amount  | Category  | Description                 | Date
---------------------------------------------------------
1   | $345.00  | Food            | Daily meal                  | 2025-03-09

Expense Tracker Application
1. Add Expense
2. View Expense
3. Exit
ID  | Amount  | Category  | Description                 | Date
---------------------------------------------------------
1   | $345.00  | Food            | Daily meal                  | 2025-03-09

Expense Tracker Application
1. Add Expense
2. View Expense
3. Exit
ID  | Amount  | Category  | Description                 | Date
---------------------------------------------------------
1   | $345.00  | Food            | Daily meal                  | 2025-03-09

Expense Tracker Application
1. Add Expense
2. View Expense
3. Exit
Expense added successfully!

Expense Tracker Application
1. Add Expense
2. View Expense
3. Exit
ID  | Amount  | Category  | Description                 | Date
---------------------------------------------------------
1   | $345.00  | Food            | Daily meal                  | 2025-03-09
2   | $23.00   | Electricity     | Electricity bill            | 2025-03-09

Expense Tracker Application
1. Add Expense
2. View Expense
3. Exit

In [2]:
#Tuple creation.
thistuple=("apple", "banana", "cherry")
print(thistuple)
print(len(thistuple))

('apple', 'banana', 'cherry')
3

In [3]:
thistuple=("apple",)
print(thistuple)

('apple',)

In [8]:
thistuple=("apple", "banana", "cherry")
print(thistuple[-1])
print(thistuple[0])
print(thistuple[1])
print(thistuple[1])

cherry
apple
banana
banana

In [9]:
thistuple=("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])
print(thistuple[:4])

('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')

In [13]:
x=("apple", "banana", "cherry")
y=list(x)
y[1:4]="kiwi", "Grape"
x=tuple(y)
print(x)
z=("apple", "kiwi", "cherry")
k=list(z)
k.append("mango")
z=tuple(k)
print(z)

('apple', 'kiwi', 'Grape')
('apple', 'kiwi', 'cherry', 'mango')

Adding a tuple to another tuple

In [17]:
thistuple=("apple", "banana", "cherry")
y=("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [19]:
thistuple=("apple", "banana", "cherry")
y=list(thistuple)
y.remove("apple")
thistuple=tuple(y)
print(thistuple)

('banana', 'cherry')

In [ ]:
thistuple=('apple', 'banana')
del thistuple
print(thistuple)   #This will give an error, because the tuple has been deleted.

NameError: name 'thistuple' is not defined

Assignment.

In [12]:
# Creating a tuple.
thistuple=('Lion', 'Monkey', 'Dog', 'Leopard', 'Cat')
print(thistuple[1]) # Second element
print(thistuple[3]) # Fourth element.
# Creating new tuple and concatenating with the orignal tuple.
new_tuple=('Rat', 'Crocodile', 'Hippopotamus')
combined_tuple=thistuple+new_tuple
print(combined_tuple)

# Converting combined tuple to list.
# Let y=converted list and x=new converted tuple after adding the fruit.
y=list(combined_tuple)
y.append('Mango')
x=tuple(y)
print(x)
print(len(x))  #Finding the length of updated tuple called x.

# To check a specific item whether present in the updated tuple.
item_to_check='Leopard'
# check if leopard is present in the tuple or not.

if item_to_check in x:
  print(f"{item_to_check} is present in the tuple.")
else:
  print(f"{item_to_check} is Not present in the tuple.")

# To iterate through the tuple and printing every item in the tuple.
x = ('Lion', 'Monkey', 'Dog', 'Leopard', 'Cat', 'Rat', 'Crocodile', 'Hippopotamus', 'Mango')
for item in x:
    print(item)

Monkey
Leopard
('Lion', 'Monkey', 'Dog', 'Leopard', 'Cat', 'Rat', 'Crocodile', 'Hippopotamus')
('Lion', 'Monkey', 'Dog', 'Leopard', 'Cat', 'Rat', 'Crocodile', 'Hippopotamus', 'Mango')
9
Leopard is present in the tuple.
Lion
Monkey
Dog
Leopard
Cat
Rat
Crocodile
Hippopotamus
Mango

In [ ]:
# Creation of tuple with single element.
my_tuple=('John',)
print(type(my_tuple))

# Unpacking the updated tuple called x
x = ('Lion', 'Monkey', 'Dog', 'Leopard', 'Cat', 'Rat', 'Crocodile', 'Hippopotamus', 'Mango')
# unpacking the first three elements.
p, q, r = x[:3]
print(p)
print(q)
print(r)

# Creation fo nested tuple.
nested_tuple=(('apple', 'banana', 'cherry'), ('Lion', 'Tiger', 'Leopard'))
print(nested_tuple)
# Accessing the element from the nested tuple.
inner_element=nested_tuple[1][1]
print(inner_element)
# Accessing the first and last element of the tuple.
first_element=nested_tuple[0][0]
print(first_element)    # This will print the first element of the tuple
last_element=nested_tuple[-1][-1]
print(last_element)

# Creation of the new tuple by repeating the original tuple times 3.
new_tuple=nested_tuple*3
print(new_tuple)

nested_tuple = (('apple', 'banana', 'cherry'), ('Lion', 'Tiger', 'Leopard'))  # Original tuple.

# Convert tuple to list
nested_list = [list(inner) for inner in nested_tuple]

# Remove an item (let's remove 'banana' and 'Tiger' as an example)
nested_list[0].remove('banana')
nested_list[1].remove('Tiger')

# Convert back to tuple
updated_tuple = tuple(tuple(inner) for inner in nested_list)

# Print updated tuple
print(updated_tuple)

<class 'tuple'>
Lion
Monkey
Dog
(('apple', 'banana', 'cherry'), ('Lion', 'Tiger', 'Leopard'))
Tiger
apple
Leopard
(('apple', 'banana', 'cherry'), ('Lion', 'Tiger', 'Leopard'), ('apple', 'banana', 'cherry'), ('Lion', 'Tiger', 'Leopard'), ('apple', 'banana', 'cherry'), ('Lion', 'Tiger', 'Leopard'))
(('apple', 'cherry'), ('Lion', 'Leopard'))

In [6]:
# creation of sets.
thisset = {'apple', 'banana', 'cherry'}
print(thisset)

# Iterate through the set and print each element
for x in thisset:
    print(x)

{'banana', 'apple', 'cherry'}
banana
apple
cherry

In [ ]:
thisset={'banana', 'apple', 'cherry'} # Adding item to a set.
thisset.add('orange')
print(thisset)

{'banana', 'apple', 'orange', 'cherry'}

In [7]:
# Adding set to another set.
thisset = {'apple', 'banana', 'cherry'}
tropical={'pineaple', 'mango', 'papaya'}
thisset.update(tropical)
print(thisset)

{'pineaple', 'papaya', 'mango', 'banana', 'apple', 'cherry'}

In [ ]:
# Removing irems from the set.
thisset = {'apple', 'banana', 'cherry'}
thisset.remove('apple')
print(thisset)
thisset.discard('banana')

{'banana', 'cherry'}

'cherry'

In [12]:
thisset = {'apple', 'banana', 'cherry'}
thisset.pop()
print(thisset)

{'apple', 'cherry'}

In [13]:
# Using clear method.
thisset = {'apple', 'banana', 'cherry'}
thisset.clear()
print(thisset)

set()

In [ ]:
# Using del method.
thisset = {'apple', 'banana', 'cherry'}
del thisset
print(thisset)  # An error occurs because there is nothing anymore.

NameError: name 'thisset' is not defined

In [16]:
# Creation of the dictionaries.
thisdict={
  'brand':'Ford',
  'model':'Mustang',
  'year':'1964'
}
print(thisdict)
print(thisdict['brand'])

{'brand': 'Ford', 'model': 'Mustang', 'year': '1964'}
Ford

In [17]:
thisdict={
  'brand':'Ford',
  'model':'Mustang',
  'year':'1964',
  'year':'2020'
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': '2020'}

In [19]:
# Determination of length of dict.
Student={
'Name':'Shahid',
'Branch':'IT',
'Course':'Ph.D'
}
S=len(Student)
print(S)

3

In [24]:
thisdict={
  'brand':'Ford',
  'electric':False,
  'year':1964,
  'colors':['red','white','blue']

}
E=thisdict['colors']
print(E)
print(thisdict['colors'])
print(thisdict)

x=thisdict.keys()
print(x)
thisdict['colors']='white'
print(x)

['red', 'white', 'blue']
['red', 'white', 'blue']
{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}
dict_keys(['brand', 'electric', 'year', 'colors'])
dict_keys(['brand', 'electric', 'year', 'colors'])

In [ ]:
thisdict={
  'brand':'Ford',
  'model':'Mustang',
  'year':'1964'
}
x=thisdict.keys()
print(x)
thisdict['color']='white'
print(x)
thisdict['model']='swift'
print(thisdict)

# Print only the 'name' key and its value
key = 'brand'     
if key in thisdict:
    print(f"{key}: {thisdict[key]}")
else:
    print(f"Key '{key}' not found in dictionary.")

    # Updating a dictionary.
    print(thisdict)

thisdict.update({'colors':'red'})
print(thisdict)
thisdict.pop('model')  # Removing the key from the dictionary.
print(thisdict)

newdict=thisdict.copy()  # Making a copy of the dictionary.
print(newdict)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
{'brand': 'Ford', 'model': 'swift', 'year': '1964', 'color': 'white'}
brand: Ford
{'brand': 'Ford', 'model': 'swift', 'year': '1964', 'color': 'white', 'colors': 'red'}
{'brand': 'Ford', 'year': '1964', 'color': 'white', 'colors': 'red'}
{'brand': 'Ford', 'year': '1964', 'color': 'white', 'colors': 'red'}

# if statement.

In [ ]:
a=33
b=200
if b>a:
  print('b is greater than a')

b is greater than a

In [1]:
# Elif statement

a=33
b=33
if b>a:
  print('b is greater than a')
elif a==b:
  print('a and b are equal')

a and b are equal

In [2]:
# Else.
a=200
b=33
if b>a:
  print('b is greater than a')
elif a==b:
  print('a and b are equal')
else:
  print('a is greater than b')

a is greater than b

In [3]:
# Short Hand If
a=100
b=20
if a>b: print('a is greater than b')

a is greater than b

In [4]:
# short hand if...else
a=20
b=300
print('A') if a>b else print('B')

B

In [ ]:
# multiple if statement in the same line.

a=330
b=330
print('A') if a>b else print('=') if a==b else print('B')

=

In [2]:
# Using And
a=200
b=33
c=500
if a>b and c>a:
  print('Both conditions are true')

Both conditions are true

In [3]:
# Using Or logical operator.
a=200
b=33
c=500
if a>b or a>c:
  print('At least one of the conditions is true')

At least one of the conditions is true

In [4]:
# Nested if statement.
x=41
if x>10:
  print('Above ten')
  if x>20:
    print('and also above 20!')
  else:
    print('but not above 20.')

Above ten
and also above 20!

In [5]:
# checking if the number is positive or negative.
num=float(input('Enter a number:'))
if num>=0:
  if num==0:
    print('Zero')
  else:
    print('Positive number')
else:
  print('Negative number')

Positive number

In [ ]:
# checking if element in list index 0 > 1

list=[4,3,5,6,7]
if list[0]>list[1]:
  print('sucess')
else:
  print('hello')

sucess

In [ ]:
# while loop.
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
#  Adding the break statemnet.

i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [2]:
# Statement

i=1
while i<6:
  print(i)
  i+=1
else:
  print('i is no longer less than 6')

1
2
3
4
5
i is no longer less than 6